.pp{
     padding-left: 55px;
}
.k1{
    background-color:  #00ADB5;
    border-radius: 15px 15px 15px 15px;
}
.fs{
  font-size: 35px;
}
.E7{
    background-color: #E7E7E7;
}
.E8{
    background-color: #00ADB5;
}