@import "../../style.scss";

.messages {
    @include themify($themes) {
        -webkit-box-shadow: 0px 0px 25px -10px rgba(0, 0, 0, 0.38);
        -moz-box-shadow: 0px 0px 25px -10px rgba(0, 0, 0, 0.38);
        box-shadow: 0px 0px 25px -10px rgba(0, 0, 0, 0.38);
        border-radius: 20px;
        background-color: themed("bg");
        color: themed("textColor");

        .container-fleid {
            .headerContainer {

                display: flex;
                align-items: center;
                justify-content: center;
                width: 100%;
                background: #E3F6F7;
                height: 4rem;

                .HeaderTitle {
                    display: inline-block;
                    font-size: xx-large;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    color: #252A34;
                    font-size: 24px;
                    font-weight: 500;
                    line-height: 20px;


                }

                @include mobile {
                    height: 5rem;
                }
            }

            .button-container {
                display: flex;
                justify-content: center;
                align-items: center;
                height: 100vh;


            }

            .active {
                border-radius: 8px;
                background: #FFF;
                box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25) inset;
                width: 9.25rem;
                height: 3.3125rem;
                flex-shrink: 0;
                color: #00ADB5;
                font-size: 1rem;
                font-family: Inter;
                font-weight: 500;
                border: none;
                margin: 2%;

            }

            .chat-button {

                margin: 2%;
                border-radius: 8px;
                background: #FFF;
                box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
                width: 9.25rem;
                height: 3.3125rem;
                flex-shrink: 0;
                color: #212121;
                font-size: 1rem;
                font-family: Inter;
                font-weight: 500;
                line-height: 1.25rem;

                border: none;
            }

            .notifationContainer {

                height: 4rem;
                background: #FFF;
                box-shadow: 0px 4px 5px 2px rgba(121, 197, 239, 0.38);
                display: flex;
                align-items: center;

                .notifationTitle {
                    padding: 2%;
                    display: inline-block;
                    font-size: 1rem;
                    font-family: Inter;
                    font-weight: 500;

                    img {
                        width: 3rem;
                        height: 3rem;
                        border-radius: 50%;
                        object-fit: cover;
                    }
                }
            }

            .chatTime {
                color: #303030;
                font-size: 0.75rem;
                font-family: Roboto;
                font-weight: 300;
                letter-spacing: 0.0375rem;
            }
        }

        .chat-list-container {
            height: initial;
            background: #ffffff;
            .search-Bar {
                background-color: #303030;
                height: 71%;
            }

            .chat-list {
                .list-title {}

                .chat-lable {}

                .middle-line {}

            }
        }
    }
}