.leadvalution .back_blue{
    height:17rem;
    background-color: #00ADB51C;
    border-bottom-right-radius: 30%;
    border-bottom-left-radius: 30%;
    padding-top: 2%;
}
.leadvalution .back_blue .first-1{
    width: 100%;
    height: 3rem;
    display: grid;
    grid-template-columns:  15% 70% ;
    grid-template-rows: 1.5rem;
}
.leadvalution .back_blue .first-1 .svg-arrow svg{
    font-size: 1.1rem;
    color:#000000;
    margin-left: 5px;
}
.leadvalution .back_blue .first-1 .heading h6{
    font-size: 1.2em;
    color:#000000;
    margin-top:3px;
    text-align: center;
}
.leadvalution .back_blue .first-2{
    width: 94%;
    height: 5.5rem;
    margin: 1% 3%;
    background-color: #ffffff;
    border: 2px solid #FECA10;
    display: flex;
    justify-content: space-around;
}
.leadvalution .back_blue .first-2 .one{
    width:25%;
    height:5rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2px;
}
.leadvalution .back_blue .first-2 .one span{
    height:0.9rem;
}
.leadvalution .back_blue .first-2 .one img{
    width:3.9rem;
    height: 2.6rem;
}
.leadvalution .back_blue .first-2 .one h6{
    font-size: 0.8em;
    color:#000000;
}
.leadvalution .back_blue .first-2 .one h5{
    font-size: 1em;
    color:#000000;
}
.leadvalution .back_blue .first-2 .two{
    width:25%;
    height:5rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap:2px;
}
.leadvalution .back_blue .first-2 .two span{
    height:0.9rem;
}
.leadvalution .back_blue .first-2 .two .ok{
    width:3.5rem;
    height:2.6rem;
}

.leadvalution .back_blue .first-2 .two img{
    width:2.4rem;
    height: 2.4rem;
    margin-top: 9px;
    margin-left: 7px;
}
.leadvalution .back_blue .first-2 .two h6{
    font-size: 0.8em;
    color:#000000;
}
.leadvalution .back_blue .first-2 .two h5{
    font-size: 1em;
    color:#000000;
}
.leadvalution .back_blue .first-3{
    width: 100%;
    height:3.5rem ;
    margin-top: 8px;
    display: flex;
    justify-content: space-around;
}
.leadvalution .back_blue .first-3 .win{
    width: 45%;
    height: 3rem;
    display: flex;
    justify-content: center;
    align-items: flex-end;
}
.leadvalution .back_blue .first-3 .win button{
    width: 60%;
    height: 2.5rem;
    background-color: #ffffff;
    border : 1px solid #00ADB5;
    border-radius: 8px;
    color: #00ADB5;
    font-size: 1em;
}
.leadvalution .back_blue .first-3 .lead-board{
    width: 45%;
    height: 3rem;
    display: flex;
    justify-content: center;
    align-items: flex-end;
}
.leadvalution .back_blue .first-3 .lead-board button{
    width: 60%;
    height: 2.5rem;
    background-color: #00ADB5;
    border : 1px solid #ffffff;
    border-radius: 8px;
    color:#ffffff;
    font-size: 1em;
}
.leadvalution .part{
    width: 100%;
    height: 19rem;
    margin-top: 10px;
}
.leadvalution .part .up{
    width: 100%;
    height: 0.1rem;
    background-color: #0000004F;
}
.leadvalution .part .rank{
    width: 100%;
    height: 1.8rem;
    display: flex;
    justify-content: space-between;
    padding: 0% 3%;
    margin: 1px 0px;
}
.leadvalution .part .rank h6{
    font-size: 0.9em;
    color:#7C7C7C;
    margin-top: 5px;
}
.leadvalution .part .down{
    width: 100%;
    height: 0.12rem;
    background-color: #0000004F;
}
.leadvalution .part .one{
    width: 100%;
    height: 1.2rem;
    padding:0% 3% ;
    margin: 2px 0px;
    display: flex;
    justify-content: space-between;
}
.leadvalution .part .one h6{
    font-size: 1em;
    font-weight: 700;
    color: #1E1E1E;
}
.leadvalution .part .one-line{
    width: 100%;
    height: 0.1rem;
    background-color: #00000017;
}
.leadvalution .last-line{
    width:100%;
    height:8rem;
    display: flex;
    justify-content: center;
    align-items: flex-end;
}
.leadvalution .last-line .line{
    width: 35%;
    height: 0.3rem;
    background-color: #000000;
    border-radius: 10px;
}