.create-profile {
    .create-profile-grid-container {
        display: grid;
        grid-template-columns: repeat(12, 1fr);
        grid-auto-rows: auto;

        .header-container {
            grid-column: 1/13;
            background: url(../../assets/vectors/Rectangle49.png) center/cover no-repeat;

            .create-profile-header {
                grid-column: 1/13;
                display: flex;
                justify-content: space-between;
                padding: 1em;

                div {
                    color: #212121;
                    text-align: center;
                    font-family: SF Pro;
                    font-size: 1em;
                    font-style: normal;
                    font-weight: 510;
                    line-height: normal;
                    letter-spacing: -0.025rem;
                }
            }

            .profile-pic-div {
                grid-column: 1/13;
                display: flex;
                justify-content: center;

                .profile-pic {
                    width: 7em;
                    height: 7em;

                    img {
                        width: 100%;
                        height: 100%;
                        border-radius: 50%;
                    }
                }
            }

            .profile-name {
                grid-column: 1/13;
                text-align: center;
                padding: 1em;

                span {
                    color: var(--light-gray-11, #000);

                    /* Title_Poppins/Large */
                    font-family: Poppins;
                    font-size: 1.375rem;
                    font-style: normal;
                    font-weight: 600;
                    line-height: 1.75rem;
                    /* 127.273% */
                }
            }

            .profile-contact {
                grid-column: 1/13;
                text-align: center;

                span {
                    color: var(--light-gray-11, #000);

                    /* Body/Medium */
                    font-family: Roboto;
                    font-size: 0.875rem;
                    font-style: normal;
                    font-weight: 400;
                    line-height: 1.25rem;
                    /* 142.857% */
                    letter-spacing: 0.01563rem;
                }
            }
        }

        .coverpic {
            grid-column: 1/13;
            width: 100%;
            padding: 1em;

            img {
                border-radius: 1.5em;
                height: 6em;
                width: 100%;
            }
        }

        .profile-form {
            grid-column: 1/13;
            width: 100%;
            padding: 0.5em 2em 0 2em;
            display: flex;
            justify-content: center;
            flex-direction: column;
            row-gap: 1em;

            textarea {
                width: 100%;
                border-radius: 0.9375rem;
                background: #FFF;
                box-shadow: 0px 4px 5px 2px rgba(121, 197, 239, 0.38), 0px 4px 4px 0px rgba(0, 0, 0, 0.25) inset;
            }

            label {
                margin-left: 0.7em;
                color: #7A7A7A;
                text-align: center;
                font-family: SF Pro;
                font-size: 0.875rem;
                font-style: normal;
                font-weight: 590;
                line-height: normal;
                letter-spacing: -0.01488rem;
            }

            input {
                width: 100%;
                height: 2.7em;
                border-radius: 0.9375rem;
                background: #FFF;
                box-shadow: 0px 4px 5px 2px rgba(121, 197, 239, 0.38), 0px 4px 4px 0px rgba(0, 0, 0, 0.25) inset;
            }

            select {
                width: 100%;
                height: 2.7em;
                border-radius: 0.9375rem;
                background: #FFF;
                box-shadow: 0px 4px 5px 2px rgba(121, 197, 239, 0.38), 0px 4px 4px 0px rgba(0, 0, 0, 0.25) inset;

            }

            .colmn-2 {
                width: 100%;
                display: flex;
                column-gap: 1em;

                div {
                    width: 100%;
                    flex: 1;

                }
            }

            .column-radio {

                div {
                    padding-top: 1em;

                    input[type="radio"] {
                        width: 20%;
                        height: 1.7em;
                        border-radius: 0.9375rem;
                        background: #FFF;
                        box-shadow: 0px 4px 5px 2px rgba(121, 197, 239, 0.38), 0px 4px 4px 0px rgba(0, 0, 0, 0.25) inset;
                    }

                    display: flex;
                    justify-content: left;
                    flex-direction: row;

                    label {
                        color: #212121;
                        font-family: SF Pro;
                        font-size: 0.78125rem;
                        font-style: normal;
                        font-weight: 510;
                        line-height: normal;
                        letter-spacing: -0.01331rem;
                    }
                }
            }

            .traits-container {
                display: flex;
                column-gap: 1em;
                flex-wrap: wrap;
                row-gap: 0.7em;

                span {
                    border: solid #00ADB5 2px;
                    border-radius: 0.25rem;
                    padding: 0 2em 0 2em;
                }
            }

            .social-media {
                width: 100%;
                border-radius: 0.6em;
                background: #FFF;
                box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.20);
                display: flex;
                justify-content: space-evenly;
                flex-wrap: wrap;

                .social-media-cards {
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    margin: 0.7em 0 0.7em 0;
                    height: 3em;
                    width: 3em;
                    border-radius: 0.9375rem;
                    background: #FFF;
                    box-shadow: 0px 4px 5px 2px rgba(121, 197, 239, 0.38);

                    img {
                        height: 2em;
                        width: 2em;
                    }
                }
            }
        }
    }
}