.AddAssignment {
    height: 1800px;
    width: 500px;
    background-color: white;
  }
  .AddAssignment .first{
    width: 500px;
    height:85px;
    padding: 2px 1px;
    margin-top: 50px;
  }
  .AddAssignment .first .second{
    width: 493px;
    height: 2px;
    border-radius: 2px;
    background: #0000004F;
    margin-bottom: 9px;
  }
  .AddAssignment .first .second2{
    width: 493px;
    height: 2px;
    border-radius: 2px;
    background: #0000004F;
    margin-top: 9px;
  }
  .AddAssignment .first .third form{
    color: #212121;
    font-size: 15px;
    font-weight: bold;
    padding: 0px 1px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
  }
  .drop{
    width:500px;
    height: 65px;
  }
  .drop .down{
    width: 300px;
    height:55px ;
    border: 3px solid  #cfc6c6;
    margin: 2px 100px;
    border-radius: 15px;
    background: #FFFFFF;

  }
  .drop .down select{
    color:#cfc6c6 ;
    width: 240px;
    height: 30px;
    font-weight:bolder;
    font-size: 17px;
    margin-top: 10px;
    margin-left: 28px;
    border: none;
  }
  .AddAssignment .tap{
    width: 468px;
    height: 74px;
    margin: 1px 0px;
  }
  .AddAssignment .tap button{
    height: 42px;
    width: 66px;
    color:#FFFFFF;
    background: #00ADB5;
    border-radius: 11px;
    border: none;
    font-size: 24px;
    float: right;
    margin-top: 9px;
  }
  .AddAssignment .split{
    height: 55px;
    width: 493px;
    margin: 1px 0px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
  .AddAssignment .split .combine1{
    height: 42px;
    width: 238px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    border: 3px solid #00ADB5;
  }
  .AddAssignment .split .combine1 select{
    color:  #000000;
    width: 216px;
    height: 35px;
    border: none;
    font-size: 17px;
  }
  .AddAssignment .split .combine1 p{
    color:  #000000;
    padding-top: 7px;
    padding-right: 5px;
  }
  .AddAssignment .split .combine2{
    height: 42px;
    width: 238px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    border: 3px solid #00ADB5;
  }
  .AddAssignment .split .combine2 select{
    color:  #000000;
    width: 216px;
    height: 35px;
    border: none;
    font-size: 17px;
  }
  .AddAssignment .split .combine2 p{
    color:  #000000;
    padding-top: 7px;
    padding-right: 5px;
  }
  .AddAssignment .split2{
    height: 55px;
    width: 493px;
    margin: 15px 0px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
  .AddAssignment .split2 .combine3{
    height: 42px;
    width: 238px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    border: 3px solid #00ADB5;
  }
  .AddAssignment .split2 .combine3 select{
    color:  #000000;
    width: 216px;
    height: 35px;
    border: none;
    font-size: 17px;
  }
  .AddAssignment .split2 .combine3 p{
    color:  #000000;
    padding-top: 7px;
    padding-right: 5px;
  }
  .AddAssignment .split2 .combine4{
    height: 42px;
    width: 238px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    border: 3px solid #00ADB5;
  }
  .AddAssignment .split2 .combine4 select{
    color:  #000000;
    width: 216px;
    height: 35px;
    border: none;
    font-size: 17px;
  }
  .AddAssignment .split2 .combine4 p{
    color:  #000000;
    padding-top: 7px;
    padding-right: 5px;
  }
  .AddAssignment .most{
    width:493px ;
    height: 125px;
    background: #E7E7E7;
    border-radius: 25px;
    margin: 10px 0px;
  }
  .AddAssignment .most .note1{
    margin-top:5px;
    margin-left:15px;
    color: #FA2121;
    font-size: 20px;
    font-weight: bold;
  }
  .AddAssignment .most .note2{
    margin-left: 15px;
    color:  #000000;
    font-size: 15px;
    height: 110px;
    width: 450px;
    word-break: break-all;
    line-height: 16.70px;
    margin-top: -12px;
  }
  .AddAssignment .scrool{
    width: 493px;
    height: 79px;
    padding-top: 33px;
    padding-left: 51px;
  }
  .AddAssignment .scrool p{
    font-size: 17px;
    color: #7A7A7A;
    font-weight: bold;
  }
  .AddAssignment .descrip{
    width: 493px;
    height: 300px;
    margin: 1px 0px;
    border: 5px solid  #E7E7E7;
    border-radius: 19px;
    padding-top: 12px;
    padding-left: 9px;
  }
  .AddAssignment .descrip textarea{
    padding-top: 2px;
    border: none;
    font-size: 17px;
    font-weight: bold;
    color:#7A7A7A;
  }
  .AddAssignment .clik{
    height: 100px;
    width: 493px;
    margin-top: 60px;
  }
  .AddAssignment .clik button{
    height: 50px;
    width: 125px;
    margin-left: 183px;
    background-color: #00ADB5;
    color: #FFFFFF;
    border-radius: 10px;
    font-weight: 600;
    font-size: 21px;
    border: none;
  }